body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:100vh;
margin:0;
background-color: #333;
color: white;
font-family:sans-serif;
}

canvas{
    background-color: #eee;
    border: 2px solid black;
}
